Редактирование Комментария
<%= form_for :comment, url: post_comment_path(@post.id, @comment), method: :patch do |f| %>
  <%if @comment.errors.any? %>
    <% @comment.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>
  <p>
    Текст комментария <br>
    <%= f.text_area(:body, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= f.submit({:class => 'btn btn-success'}) %>
  </p>
<% end %>